Doctype
html
  link(rel="stylesheet" href="/css/bootstrap.css")
  link(rel="stylesheet" href="/css/onePug.css")
  link(rel="stylesheet" href="/css/salesreg.css")
  script(src="/js/jquery-3.4.1.js")
  script(src="js/bootstrap.js")
  head
    title  List of users
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(style='position: fixed;z-index: 1000; top: 0;width: 100%;')
     a.navbar-brand(href='/') Boda Boda banja
     button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
     #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
       li.nav-item.active
         a.nav-link(href='/' style='color: #fff;') Home 
       li.nav-item
         a.nav-link(href='/login' style='color: #fff;') Admin
       li.nav-item
         a.nav-link(href='/saleslist' style='color: #fff;') Sales Representative
       li.nav-item
         a.nav-link(href='/customer' style='color: #fff;') Customers
    br
    br
    br     
    h2 List of Registered Customers
    form.form-group(action='/findcustomerr')
     div.row
      div.col-md-8
       input.form-control(type='text' placeholder='Enetr The Full Name' name='fullName')
      .col-sm-4
        input.btn.btn-primary(type='submit' value='Search')  
    div.container  
    table.table
      thead.thead-dark
       each customer in customers
        tr
          th  1. Full Name
          td  #{customer.fullName}
          td
           a(href=`/findcustomer/${customer._id}`) view
        tr
          th   2. Current Date
          td  #{customer.currentDate}
        tr  
          th   3. Nationality
          td  #{customer.nationality}
        tr   
          th   4. Phone Number
          td  #{customer.contact}
        tr  
          th   5. NIN
          td  #{customer.nin}
        tr  
          th  6. Date of Birth
          td  #{customer.dob} 
        tr  
          th   7. Kind of Vihecle
          td  #{customer.kindOfVehicle} 
        tr  
          th  8. Referees Name
          td  #{customer.refreesName}
        tr  
          th   9.Referees Contact
          td  #{customer.refNumber}
        tr   
          th   10. Referees Work
          td  #{customer.refWork} 
        tr  
          th  11. Refrees Date of Birth
          td  #{customer.refdob}
        tr  
          th   12. Down Payment
          td  #{customer.downPayment} 
        tr  
          th   13. Marital Status
          td  #{customer.status}
        tr  
          th   14. Other Loans incase Any
          td  #{customer.otherLoans}
        tr  
          th   15. Stage Name
          td  #{customer.stageName} 
        tr  
          th   17. LC1
          td  #{customer.lc1}
        tr 
          th   19. LC3
          td  #{customer.lc3} 
    footer#footer &copy2020 Bodadoa banja        
          