Doctype
html
  link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
  head
    title  List of users
  body
    table.table
      thead
        tr
          th   Full Name
          th   Current Date
          th   Nationality
          th   Phone Number
          th   NIN
          th  Date of Birth
          th   Kind of Vihecle
          th  Referees Name
          th   Referees Contact
          th   Referees Work
          th  Refrees Date of Birth
          th   Down Payment
          th   Marital Status
          th   Other Loans incase Any
          th   Stage Name
          th   LC1
          th   LC3
        tbody
        each customer in customers
          tr
            td  #{customer.fName}
            td  #{customer.currentDate}
            td  #{customer.nationality}
            td  #{customer.phoneNumber}
            td  #{customer.nin} 
            td  #{customer.dob} 
            td  #{customer.kindOfVehicle} 
            td  #{customer.refreesName}   
            td  #{customer.refNumber}   
            td  #{customer.refWork}   
            td  #{customer.refdob}   
            td  #{customer.downPayment}  
            td  #{customer.status}   
            td  #{customer.otherLoans}  
            td  #{customer.stageName} 
            td  #{customer.lc1}   
            td  #{customer.lc3}