Doctype
html
  link(rel="stylesheet" href="/css/bootstrap.css")
  link(rel="stylesheet" href="/css/list2.css")
  link(rel="stylesheet" href="/css/salesreg.css")
  script(src="/js/jquery-3.4.1.js")
  script(src="js/bootstrap.js")
  head
    title  List of users
  body
   nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(style='position: fixed;z-index: 1000; top: 0;width: 100%;')
     a.navbar-brand(href='/') BodaBoda-banja
     button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
     #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
       li.nav-item.active
         a.nav-link(href='/' style='color: #fff;') Home  
       li.nav-item.active
         a.nav-link(href='/addsales' style='color: #fff;') Add New Sales Representative    
       li.nav-item
         a.nav-link(href='/login' style='color: #fff;') Logout
       
   div.container1   
      table.table
       thead.thead-dark
        tr
          th   Full Name
          th   User Id
          th   Password
          th   Email
          th   Supervisors
          th   Number of Working days
          th  Date of Birth
          th   Contact
          th  Current Date
          th   Role 
          th  Marital Status
          th  Gender
        tbody
        each sale in sales
          tr
            td  #{sale.fname}
            td  #{sale.userid}
            td  #{sale.password}
            td  #{sale.email}
            td  #{sale.supervisor}
            td  #{sale.numberOfWorkingDays} 
            td  #{sale.dateOfBirth} 
            td  #{sale.contact} 
            td  #{sale.currentDate}     
            td  #{sale.role} 
            td  #{sale.status}
            td  #{sale.gender}

  button.btn.btn-primary#add
    a(href="/addsales") Add New Sales Representative 
  br    
  footer#footer &copy2020 Bodaboda banja           